<?xml version="1.0"?>
<!--
/**
 *
 * @author      Webjump Core Team <dev@webjump.com.br>
 * @copyright   2022 Webjump (http://www.webjump.com.br)
 * @license     http://www.webjump.com.br  Copyright
 * @link        http://www.webjump.com.br
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webkul\Marketplace\Block\Adminhtml\Customer\Edit\Tabs" type="Braspag\Webkul\Block\Adminhtml\Customer\Edit\Tabs"/>
    <preference for="Webkul\Marketplace\Controller\Account\EditprofilePost" type="Braspag\Webkul\Controller\Account\EditprofilePost"/>
    <preference for="Webkul\Marketplace\Helper\Data" type="Braspag\Webkul\Helper\Data"/>
    <preference for="Braspag\Webkul\Gateway\Transaction\PaymentSplit\Config\ConfigInterface" type="Braspag\Webkul\Gateway\Transaction\PaymentSplit\Config\Config"/>
    <preference for="Braspag\Webkul\Gateway\Transaction\Base\Config\ConfigInterface" type="Braspag\Webkul\Gateway\Transaction\Base\Config\Config"/>
    
    <preference for="Webjump\BraspagPagador\Gateway\Transaction\Base\Resource\Installments\Installment" type="Braspag\Webkul\Gateway\Transaction\Base\Resource\Installments\Installment"/>
    <preference for="Webjump\BraspagPagador\Model\Installments" type="Braspag\Webkul\Model\Installments"/>

    <preference for="Magento\Sales\Block\Order\Totals"
        type="Braspag\Webkul\Block\Order\Totals"/>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Totals"
        type="Braspag\Webkul\Block\Adminhtml\Order\Totals"/>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Invoice\Totals"
        type="Braspag\Webkul\Block\Adminhtml\Order\Invoice\Totals"/>
    <preference for="Magento\Sales\Block\Order\Invoice\Totals"
        type="Braspag\Webkul\Block\Order\Invoice\Totals"/>
    <preference for="Webkul\Marketplace\Block\Order\Totals"
        type="Braspag\Webkul\Block\Marketplace\Order\Totals"/>
    <preference for="Webkul\Marketplace\Block\Order\Invoice\Totals"
        type="Braspag\Webkul\Block\Marketplace\Order\Invoice\Totals"/>

    <type name="Webjump\BraspagPagador\Model\Source\PaymentSplitMarketplaceVendor">
        <plugin name="braspagPaymentSplitMarketplaceVendorsListSource" type="Braspag\Webkul\Plugin\PaymentSplitVendorSourceListPlugin"/>
    </type>

    <type name="Webkul\Marketplace\Model\ResourceModel\Saleslist\Collection">
        <plugin name="braspagFeesToSalesListCollection" type="Braspag\Webkul\Plugin\Marketplace\Model\BraspagFeesToSalesListCollection"/>
    </type>

     <type name="Webjump\BraspagPagador\Model\SplitDataProvider">
        <plugin name="braspagSplitDataProvider" type="Braspag\Webkul\Plugin\SplitDataProviderPlugin"/>
    </type>

    <type name="Webjump\BraspagPagador\Gateway\Transaction\CreditCard\Resource\Authorize\Request">
        <plugin name="forceInterestByMerchant" type="Braspag\Webkul\Plugin\Gateway\Transaction\CreditCard\ForceInterestByMerchantPlugin"/>
    </type>

    <virtualType name="BraspagTransactionSplitPaymentCreateSubordinateCommandResponseHandlerPool" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="split" xsi:type="string">Braspag\Webkul\Gateway\Transaction\PaymentSplit\Resource\CreateSubordinate\Response\CreateSubordinateHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="BraspagTransactionSplitPaymentGetSubordinateCommandResponseHandlerPool" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="split" xsi:type="string">Braspag\Webkul\Gateway\Transaction\PaymentSplit\Resource\GetSubordinate\Response\GetSubordinateHandler</item>
            </argument>
        </arguments>
    </virtualType>
</config>
